{% extends "base.html" %}

{% block content %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/car_detail.css' %}">  

  <div class="car-card">

    {% if object.photo %}
      <img src="{{ object.photo.url }}" class="card-img-top">
    {% else %}
      <img src="{% static 'images/image_not_found.jpg' %}" class="card-img-top">
    {% endif %}

    <div class="car-content">

      <h2>{{ object.brand }} {{ object.model }}</h2>

      <p class="price">R$ {{ object.value }}</p>

      <div class="car-info">
        <p><strong>Fabricação:</strong> {{ object.factory_year }}</p>
        <p><strong>Modelo:</strong> {{ object.model_year }}</p>
        <p><strong>Placa:</strong> {{ object.plate }}</p>
      </div>

      {% if object.bio %}
        <div class="car-description">
          <p>{{ object.bio }}</p>
        </div>
      {% endif %}

    </div>
  </div>

  <div class="buttons-container">
    <a href="{% url 'car_update' pk=object.pk %}" class="btn btn-primary"><i class="bi bi-check-circle me-2"></i>Editar Carro</a>
    <a href="{% url 'car_delete' pk=object.pk %}" class="btn btn-danger"><i class="bi bi-trash me-2"></i>Remover</a>
    <a href="{% url 'cars_list' %}" class="btn btn-secondary"><i class="bi bi-x-circle me-2"></i>Voltar para Lista</a>
  </div>
{% endblock %}