{% extends 'base.html' %}

{% block content %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/car_update.css' %}">

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <h1>Editar Carro</h1>

    {% if form.non_field_errors %}
      <div class="error-message">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <div class="form-group">
      <label>Marca: </label>
      {{ form.brand }}

      {% if form.model.errors %}
        {% for error in form.model.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="form-group">
      <label>Modelo: </label>
      {{ form.model }}

      {% if form.model.errors %}
        {% for error in form.model.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="form-group">
      <label>Ano de fabricação: </label>
      {{ form.factory_year }}

      {% if form.factory_year.errors %}
        {% for error in form.factory_year.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="form-group">
      <label>Ano do modelo: </label>
      {{ form.model_year }}

      {% if form.model_year.errors %}
        {% for error in form.model_year.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="form-group">
      <label>Placa: </label>
      {{ form.plate }}

      {% if form.plate.errors %}
        {% for error in form.plate.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="form-group">
      <label>Preço: </label>
      {{ form.value }}

      {% if form.value.errors %}
        {% for error in form.value.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="form-group">
      <label>Foto: </label>
      {{ form.photo }}

      {% if form.photo.errors %}
        {% for error in form.photo.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      {% endif %}

    </div>

    <div class="form-group">
      <label>Descrição: </label>
      {{ form.bio }}

      {% if form.bio.errors %}
        {% for error in form.bio.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="buttons-container">
      <button type="submit" class="btn btn-success"><i class="bi bi-check-circle me-2"></i>Salvar Alterações</button>
      <a href="{% url 'car_delete' pk=object.pk %}" class="btn btn-danger"><i class="bi bi-trash me-2"></i>Remover Carro</a>
      <a href="{% url 'cars_list' %}" class="btn btn-secondary"><i class="bi bi-x-circle me-2"></i>Cancelar</a>
    </div>
  </form>
{% endblock %}