{% extends 'base.html' %}

{% block content %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  

  <form method="GET" action="{% url 'cars_list' %}">
    <input type="text" name="search" placeholder="Buscar carro...">
    <button type="submit">Buscar</button>
  </form>

  <div class="row g-4">

    {% if cars %}
      {% for car in cars %}

        <div class="col-md-4 col-sm-6 d-flex">

          <a href="{% url 'car_detail' car.id %}" class="text-decoration-none text-dark">

            <div class="card h-100 shadow-sm">
              {% if car.photo %}
                <img src="{{ car.photo.url }}" 
                    class="card-img-top" 
                    alt="{{ car.model }} - {{ car.brand }}">
              {% else %}
                <img src="{% static 'images/image_not_found.jpg' %}"
                    class="card-img-top" 
                    alt="Carro sem foto">
              {% endif %}
              <div class="card-body text-center">

                <h5 class="card-title">
                  {{ car.brand }} {{ car.model }}
                </h5>

                <p class="text-muted mb-1">
                  Ano {{ car.factory_year }}
                </p>

                <p class="fw-bold text-primary fs-5">
                  R$ {{ car.value }}
                </p>

              </div>

            </div>

          </a>

        </div>

      {% endfor %}

    {% else %}
      <p class="text-center">Nenhum carro encontrado.</p>
    {% endif %}

  </div>
{% endblock %}